.NavBar {
    width: 100%;
    background:#450101;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.menu {
    display: none;
    cursor: pointer;
}

.menu div {
    width: 30px;
    height: 2px;
    background: white;
    margin: 5px 0;
}

@media (max-width: 991px) {
    .menu {
        display: block;
    }
    .NavBar .NavItems {
        display: none;
    }
}